@model IEnumerable<GameStoreData.Models.Game>

@{
    ViewData["Title"] = "ListGames";
}

<h1>ListGames</h1>

@*@Html.DisplayFor(modelItem => item.Name)*@

<div id="letters">
    @foreach (var item in Model)
    {
        <img src="$img/{item.Name}" height="100" width="100" alt="image">
        <p>@item.Price</p>
        <p>@String.Join("/", new string[] { "RPG", "Adventure" })</p>
        <p>@item.Name</p>
    }
</div>

<style>
    #letters {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 520px;
        padding-top: 20px;
        align-content: flex-start;
        position: relative;
    }

    img {
        border: 1px solid;
        height: 100%;
        width: 33%;
        display: inline-block;
        margin: 0 5px;
    }

    p {
        border: 1px solid;
        text-align: center;
        margin: 0 5px 5px;
    }
</style>
@*
<p>
    <a asp-action="Create">Create New</a>
</p>
<body>
    <div class="image-grid">
        <img src="/img/horizon-zero-dawn.jpg" alt="image">
        <img src="/img/horizon-forbidden-west.jpg" alt="image">
        <img src="/img/witcher3.jpg" alt="image">
        <img src="/img/tomb-raider.jpg" alt="image">
        <img src="/img/rise-of-the-tomb-raider.jpg" alt="image">
        <img src="/img/shadow-of-the-tomb-raider.jpg" alt="image">
    </div>
</body>
<style>
    body {
	margin: 0;
}

.image-grid {
	--gap: 40px;
	--num-cols: 3;
	--row-height: 400px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}

.image-grid>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}

/* Anything udner 1024px */
/*media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 200px;
	}
}*/
</style>*@
<@*table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @foreach(var g in item.Genres) {
                    @Html.DisplayFor(modelItem => g)
                }
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@