@using GameStoreData.Identity.Data;
@using GameStoreData.Service;
@using Microsoft.AspNetCore.Identity;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject GameService GameService

@model GameStoreData.ViewModels.CommentVM

@{
    int px = 35;
    string CalcMargin(GameStoreData.Models.Comment comment)
    {
        if (comment.ParentCommentId == null)
        {
            px = 0;
        }
        else
        {
            var parentComment = GameService.GetCommentByIdAsync(comment.ParentCommentId.GetValueOrDefault()).Result;
            if (parentComment.ChildComments.FirstOrDefault() == comment)
            {
                px += 35;
            }
        }

        return px + "px";
    }

    /*
    int itr = 1
    string CalculateMargin(GameStoreData.Models.Comment comment)
        {
        if (comment.ParentCommentId != null)
            {
            if(GameService.GetCommentByIdAsync(comment.ParentCommentId.GetValueOrDefault())
                .Result.ParentCommentId != null
            && itr == 1)
                {
                px += 35;
            itr += 1;
        }
        }

    return px + "px";
    }
    */
}

<hr />
<div>
    <dl class="row">
    @foreach (var comment in Model.GameComments)
    {
        <dd class="col-sm-10 comment" style="margin-left:@CalcMargin(comment);margin-bottom:8px;">
            <p class="user_comment">
                @(comment.UserId != null ? UserManager.FindByIdAsync(comment.UserId).Result.UserName : "Guest")
                <h10 style="font-weight:bold">@comment.TimeLeft</h10>
            </p>
            <h5>@comment.Body</h5>

            <div style="margin-bottom:15px">
                <a asp-controller="Comment" asp-action="ReplyToComment" asp-route-id="@comment.Id">Reply</a> |
                <a asp-controller="Comment" asp-action="UpdateComment" asp-route-id="@comment.Id">Edit</a> |
                <a asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@comment.Id">Delete</a>
            </div>
        </dd>
    }
    </dl>
</div>

@*<hr />
<div>
    <dl class="row">
    @foreach (var comment in Model.GameComments)
    {
        <dd class="col-sm-10 comment" id="hide_comment" style="margin-left:@CalcMargin(comment);margin-bottom:8px;">
            <p class="user_comment">
                @(comment.UserId != null ? UserManager.FindByIdAsync(comment.UserId).Result.UserName : "Guest")
                <h10 style="font-weight:bold">@comment.TimeLeft</h10>
            </p>
            <h5>@comment.Body</h5>

            <div style="margin-bottom:15px">
                <a asp-controller="Comment" asp-action="ReplyToComment" asp-route-id="@comment.Id">Reply</a> |
                <a asp-controller="Comment" asp-action="UpdateComment" asp-route-id="@comment.Id">Edit</a> |
                <a asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@comment.Id">Delete</a>
                <a href="#hide_comment" onclick="hideCommentOnDelete()">Delete</a>
                <a href="#hide_comment" onclick="unhideCommentOnRevert()" id="revert_btn" style="display:none">Revert</a>
            </div>
        </dd>
    }
    </dl>
</div>*@

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddComment" asp-controller="Comment" asp-route-model="@Model">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Comment
                <input asp-for="Body" class="form-control" id="textfield" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="newgame" />
            </div>
            <input type="hidden" asp-for="@Model.CommentVMId" />
            <input type="hidden" asp-for="@Model.GameId" />
            <input type="hidden" asp-for="@Model.ParentCommentId" />
        </form>
    </div>
</div>

@*
<hr />
<div>
    <dl class="row">
    @foreach (var comment in Model.GameComments)
    {
        if (comment.ParentCommentId == null)
        {
            <dd class="col-sm-10 comment" style="margin-bottom:8px;">
                <p class="user_comment">
                    @(comment.UserId != null ? UserManager.FindByIdAsync(comment.UserId).Result.UserName : "Guest")
                    <h10 style="font-weight:bold">@comment.TimeLeft</h10>
                </p>
                <h5>@comment.Body</h5>

                <div style="margin-bottom: 15px">
                    <a asp-controller="Comment" asp-action="ReplyToComment" asp-route-id="@comment.Id">Reply</a> |
                    <a asp-controller="Comment" asp-action="UpdateComment" asp-route-id="@comment.Id">Edit</a> |
                    <a asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@comment.Id">Delete</a>
                </div>
            </dd>
        }

        if (comment.ChildComments != null)
        {
            @foreach (var child in comment.ChildComments)
            {
                <dd class="col-sm-10 comment" style="margin-left:@CalculateMargin(comment); margin-bottom:8px;">
                    <p class="user_comment">
                        @(child.UserId != null ? UserManager.FindByIdAsync(child.UserId).Result.UserName : "Guest")
                        <h10 style="font-weight:bold">@child.TimeLeft</h10>
                    </p>
                    <h5>@child.Body</h5>

                    <div style="margin-bottom: 15px">
                        <a asp-controller="Comment" asp-action="ReplyToComment" asp-route-id="@child.Id">Reply</a> |
                        <a asp-controller="Comment" asp-action="UpdateComment" asp-route-id="@child.Id">Edit</a> |
                        <a asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@child.Id">Delete</a>
                    </div>
                </dd>
            }
        }
    }
    </dl>
</div>
*@