@using GameStoreData.Identity.Data;
@using Microsoft.AspNetCore.Identity;

@model GameStoreData.ViewModels.GameVM

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    bool hide = true;
    ViewData["Title"] = "ListGames";
}

<a class="newgame" onclick="handleFilterBtn()">By Genres</a>
<a class="newgame" onclick="handleFilterByNameBtn()">By Name</a>

<div>
    <form asp-action="FilterGames">
        <div class="form-group" id="filtergames" style="display:none">
            <div class="col-sm-6 select">
                @Html.ListBoxFor(model => model.SelectedGenreIds, Model.GenresList)
            </div>
        </div>

        <div class="form-group" id="filterbyname" style="display:none">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Filter" class="newgame" />
        </div>
    </form>
</div>

<div style="text-align:center; margin-bottom:20px;">
    @*TODO: MAKE THIS A DROPDOWN <a class="newgame" asp-action="Filter">Filter</a>*@
    @if (SignInManager.IsSignedIn(User) && !UserManager.GetRolesAsync(UserManager
        .GetUserAsync(User).Result).Result.Contains("User"))
    {
        hide = false;
        <a class="newgame" asp-action="Create">New Game</a>
    }
</div>

<div>
    @foreach (var item in Model.Games)
    {
    <div class="games-list">
        <img src="@item.Image" alt="image" onclick="imgClick(@item.Id)">
        <p class="details">
            @{ string s = String.Join("/", item.Genres.Select(g => g.Name)); }
            @(string.IsNullOrEmpty(s) ? "No Genre" : s)
            <br>@(item.Name)
        </p>
        <p class="details" style="font-weight:bold">$@(item.Price)</p>
        <div style="margin-top:15px; text-align:center;">
            @if(SignInManager.IsSignedIn(User))
            {
                <a class="buygame" asp-action="AddToCart" asp-route-id="@item.Id">Add</a>
                @if (!hide)
                {
                    <a class="newgame" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="newgame" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            }
            else
            {
                <a class="buygame" asp-action="BuyGames" asp-route-id="@item.Id">Buy</a>
            }
            </div>
    </div>
    }
</div>

<div class="row" style="clear:both"></div>
